#footer-container {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #F3F3F3;
  min-height: 5rem;
  display: flex;
  align-items: center;
  color: #666;
  ul {
    margin: 0;
    li{
      display: inline;
      &:not(:first-child) {
        &:before {
          content: '|';
        }
      }
      span{
        padding: 0 1rem;
      }
    }
  }
}
