#footer-container {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #F3F3F3;
  min-height: 5rem;
  display: flex;
  align-items: center;
  $footer-color: #666;
  color: $footer-color;
  a {
    color: $footer-color;
  }
  ul {
    margin: 0;
    li {
      display: inline;
      &:not(:first-child) {
        &:before {
          content: '|';
        }
      }
      & > a, & > span {
        padding: 0 1rem;
      }
      a:hover {
        cursor: pointer;
        //angular 2 bug / workaround with space
        text-decoration: none;
        &.hover-underline, .hover-underline {
          text-decoration: underline;
        }
      }
    }
  }
}
