<nav class="navbar navbar-dark bg-primary">
  <!--<div class="container">-->
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="navbar-brand hidden-sm-up"><a [router-link]=" ['/home']">finto.me</a>
    <span *ng-if="userService.hasPayedPlan()" class="label label-success">Premium</span>
  </div>
  <div class="collapse navbar-toggleable-xs container" id="exCollapsingNavbar2">
    <div class="navbar-brand hidden-xs-down"><a [router-link]=" ['/home']">finto.me</a>
      <span *ng-if="userService.hasPayedPlan()" class="label label-success">Premium</span>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a [router-link]=" ['/prices'] " class="nav-link">Цены</a>
      </li>
      <li class="nav-item">
        <a [router-link]=" ['/contacts'] " class="nav-link">Контакты</a>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item" *ng-if="!userService.currentUser">
        <a [router-link]=" ['/login'] " class="nav-link">Войти</a>
      </li>
      <li class="user-navbar nav-item"></li>
      <li class="nav-item" *ng-if="userService.currentUser">
        <a href="#" class="nav-link" (click)="userService.logout()">Выйти</a>
      </li>
    </ul>
  </div>
  <!--</div>-->
</nav>
