.navbar .navbar-nav.pull-right li {
  margin-left: 1rem;
}

.navbar-brand {
  text-transform: uppercase;
  a {
    color: white;
    cursor: pointer;
    &:hover, &:active, &:focus, &:visited{
      text-decoration: none;
    }
  }
}

.nav-item{
  font-weight: bold;
}

.label{
  vertical-align: top;
}
.navbar-toggler{
  float: right;
}
