.home-header-block{
  margin: 6rem 0 6rem;
}
.btn-register-top {
  margin: 2rem;
}

.btn-register-down {
  margin: 3rem 0 3rem;
}

h2{
  margin: 1em 0;
}
.no-bottom-margin{
  margin-bottom: 0;
}
.email-margin{
  height: 8rem;
}
.container-center{
  background: linear-gradient(#373A3C, #111);
}
.txt-info{
  font-size: 0.9em;
  color: #aaa;
  strong{
    color: darken(#0275d8, 3%);
  }
}
