<div class="container">
  <h1 class="text-center">Цены</h1>

  <div class="plans text-center">
    <div class="plan-container">

      <div class="plan">
        <h2>Начинающий</h2>
        <h4>0 руб. / месяц</h4>
        <ul>
          <li>
            push-оповещения
          </li>
          <li>
            email-оповещения
          </li>
        </ul>
      </div>
    </div>
    <div class="plan-container">
      <div class="plan">
        <h2>Премиум</h2>
        <h4>120 руб. / месяц</h4>
        <ul>
          <li>
            sms-оповещения
          </li>
          <li>
            больше опций настройки
          </li>
          <li>
            push-оповещения
          </li>
          <li>
            email-оповещения
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
