@import "../../../../css/variables";
.plans {
  display: flex;
  align-items: stretch;
  .plan-container {
    display: flex;
    align-items: stretch;
    margin: 1em;
    width: 50%;
    .plan {
      width: 100%;
      border-radius: 4px;
      border: 2px solid #E5E5E5;
      padding: 0.5rem;
    }
  }
  @include media-breakpoint-down(sm){
    flex-wrap: wrap;
    .plan-container{
      width: 100%;
    }
  }
}


ul {
  margin: 1rem 0 3rem;
  padding: 0;
  $border: 1px dotted #ccc;
  li {
    color: #025AA5;
    border-top: $border;
    padding: 0.3rem;
    list-style-type: none;
  }
  li:last-child{
    border-bottom: $border;
  }
}
