<div class="container">
  <br>
  <h1 class="text-center">Войти</h1>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <h3 class="text-center">Войти через</h3>
      <br>
      <div>
        <a class="btn btn-primary btn-block" href="{{userService.GOOGLE_AUTH_URL}}"><i class="fa fa-google"></i> Google</a>
        <br>
        <a class="btn btn-info btn-block" href="{{userService.FACEBOOK_AUTH_URL}}"><i class="fa fa-facebook"></i> Facebook</a>
      </div>
    </div>
    <div class="col-sm-6">
      <form [ng-form-model]="loginForm" (submit)="onSubmit($event, loginForm.value)">
        <div class="form-group">
          <label >Email</label>
          <input type="text" class="form-control" [ng-form-control]="loginForm.controls['email']">
        </div>
        <div class="form-group">
          <label>Пароль</label>
          <input type="password" class="form-control" [ng-form-control]="loginForm.controls['password']">
        </div>
        <div class="alert alert-danger text-center" *ng-if="error">Неправильный логин или пароль</div>
        <div>
          <button type="submit" class="btn btn-default btn-block">Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>
