<div class="container">
  <h1 class="text-center">Контакты</h1>

  <div class="block-contact">
    <h2>Вопросы и предложения</h2>

    <div>Вопросы по возможностям, ценам или у Вас есть к нам предложение?</div>
    <h2>Ошибки</h2>

    <div>Нашли ошибку или что-то не получается?</div>
  <div class="text-center alert alert-info">Напишите нам: <a href="mailto:ask@finto.me">support@finto.me</a></div>
  </div>

  <div class="block-contact">
    <h2>Брокерам, банкам и другим организациям</h2>

    <div>
      У нас действует специальная партнерская программа по обслуживанию Ваших клиентов и обучению Ваших сотрудников.
      <br>
      Спрашивайте и мы вышлем Вам коммерческое предложние.
    </div>
    <div class="text-center alert alert-info">
      Ждем Вас: <a href="mailto:sales@finto.me">sales@finto.me</a>
    </div>
  </div>
</div>
