<td>
  {{subscription.dataId}}
</td>
<td>
  <span *ng-if="!subscription.edit">{{subscription.options.percentChange}}%</span>

  <div class="input-group input-percent-change" *ng-if="subscription.edit">
    <span class="input-group-addon">%</span>
    <input class="form-control"
           [(ng-model)]="subscription.options.percentChange" type="number" min="0.1"
           required step="0.1">
  </div>

</td>
<td>
  {{subscription.state.lastInformedValue}}
</td>
<td>
  <div *ng-if="!subscription.edit">
    <button class="btn btn-sm btn-link" (click)="subscription.edit = true"><i
      class="fa fa-pencil-square-o"></i> Изменить
    </button>
    <button class="btn btn-sm btn-danger" (click)="remove()">
      <i class="fa fa-times"></i> Удалить
    </button>
  </div>
  <button class="btn btn-sm btn-success" (click)="subscription.edit = false; save();"
          *ng-if="subscription.edit"><i class="fa fa-floppy-o"></i> Сохранить
  </button>
</td>
